# Ignore node_modules
node_modules/

# Ignore yarn cache
.yarn/cache/

# Include necessary Yarn 2+ folders
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore build output
dist/

# Ignore vs code settings
.vscode/